**"Office hours lesson" on 2 python techniques, and using them to do useful stuff in pandas:**

1. Iterating over pairs of variables, and how to use that to iterate over pandas rows
2. "Functions are first class objects", and the APPLY method in pandas

##### Result from google:
<img src="google_search_result.png" width="700"/>

In [7]:
import pandas as pd

df = pd.read_csv('last_words_data.csv')
df.head()

,Unnamed: 0,last_statements,occupations,records,summaries
0,0,&ldquo;I would like to apologize to the Moreno...,pull_error,pull_error,pull_error
1,1,"Yes sir, I want to say I love you to all my fa...","\r\nwelder, carpenter, laborer","\r\n TDCJ-ID #465603, 10-year sentence for 1...","\r\n On 03/19/98, in San Antonio, Texas, Vas..."
2,2,That each new indignity defeats only the body....,pull_error,pull_error,pull_error
3,3,"Joanna I really love and care about her, I app...",\r\nBarber,"\r\n TDCJ #247851, received 4/24/75, Dallas ...","\r\n On September 25, 1996, in Tyler, Ladd ..."
4,4,"There are no endings, only beginnings. Love ya...",jpg_pull_error,jpg_pull_error,jpg_pull_error

### Part 1: Iterating over pairs of variables, and how to use that to iterate over pandas rows

In [6]:
# create a list of lists, where each inner list has 2 items in it-- first name and last name
list_of_lists = [['ilya', 'atshteyn'], ['sarah', 'hood'], ['jack', 'griffin']]

# iterate over list of lists to print
for first_name, last_name in list_of_lists:
    print(first_name)
    print(last_name*2)

ilya
atshteynatshteyn
sarah
hoodhood
jack
griffingriffin

In [17]:
# iterate over all rows in the dataset using iterrows
contains_love = []
length_of_statement = []

for index, row in df.iterrows():
    if 'love' in row['last_statements']:
        contains_love.append(True)
    else:
        contains_love.append(False)
        
    length_of_THIS_statement = len(row['last_statements'].split())
    length_of_statement.append(length_of_THIS_statement)

df['contains_love'] = contains_love
df['statement_lengths'] = length_of_statement
df.head()

# add to above: for each row, check if the word "love" is in the 'last_statements' column
# add to above: for each row, check how many words are in the statement
# save results to new columns!

,Unnamed: 0,last_statements,occupations,records,summaries,contains_love,statement_lengths
0,0,&ldquo;I would like to apologize to the Moreno...,pull_error,pull_error,pull_error,False,57
1,1,"Yes sir, I want to say I love you to all my fa...","\r\nwelder, carpenter, laborer","\r\n TDCJ-ID #465603, 10-year sentence for 1...","\r\n On 03/19/98, in San Antonio, Texas, Vas...",True,30
2,2,That each new indignity defeats only the body....,pull_error,pull_error,pull_error,True,20
3,3,"Joanna I really love and care about her, I app...",\r\nBarber,"\r\n TDCJ #247851, received 4/24/75, Dallas ...","\r\n On September 25, 1996, in Tyler, Ladd ...",True,43
4,4,"There are no endings, only beginnings. Love ya...",jpg_pull_error,jpg_pull_error,jpg_pull_error,False,11

In [16]:
len(df[df.contains_love == True]) / len(df)

0.49904397705544934

### Part 2: "Functions are first class objects", and the APPLY method in pandas

In [21]:
# Define 3 functions
def print_one():
    print('one')
    
def print_two():
    print('two')

def print_three():
    print('three')
    
# Store functions in a list
my_functions = [print_one, print_two, print_three]

# Iterate over the functions and call each one
for x in my_functions:
    x()

one
two
three

In [23]:
# define a function that represents whether or not the word "love" is in the datapoint
def contains_love(row):
    return int(row['last_statements'].split()[0])


# apply that function to df & save result to new column
df['contains_love_via_apply'] = df.apply(contains_love, axis=1)


df.head()

,Unnamed: 0,last_statements,occupations,records,summaries,contains_love,statement_lengths,contains_love_via_apply
0,0,&ldquo;I would like to apologize to the Moreno...,pull_error,pull_error,pull_error,False,57,False
1,1,"Yes sir, I want to say I love you to all my fa...","\r\nwelder, carpenter, laborer","\r\n TDCJ-ID #465603, 10-year sentence for 1...","\r\n On 03/19/98, in San Antonio, Texas, Vas...",True,30,True
2,2,That each new indignity defeats only the body....,pull_error,pull_error,pull_error,True,20,True
3,3,"Joanna I really love and care about her, I app...",\r\nBarber,"\r\n TDCJ #247851, received 4/24/75, Dallas ...","\r\n On September 25, 1996, in Tyler, Ladd ...",True,43,True
4,4,"There are no endings, only beginnings. Love ya...",jpg_pull_error,jpg_pull_error,jpg_pull_error,False,11,False